.soft-neon-theme {
  --background: linear-gradient(135deg, #282a36, #3b59a5); /* Azul más suave */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-toolbar {
  --background: #4c00ff;
  color: white;
  text-shadow: 0px 0px 8px #00eaff;
}

.header-title {
  font-weight: bold;
  text-transform: uppercase;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-card {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px #00eaff;
  text-align: center;
  animation: softNeonGlow 1.5s infinite alternate;
}

.paw-icon {
  width: 50px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 0px 6px #00eaff);
}

.capitalize {
  text-transform: capitalize;
  color: #00eaff;
  text-shadow: 0px 0px 6px #00eaff;
}

.welcome-text {
  color: white;
  text-shadow: 0px 0px 6px #00eaff;
  font-weight: bold;
}

@keyframes softNeonGlow {
  from {
    box-shadow: 0px 0px 12px #00eaff;
  }
  to {
    box-shadow: 0px 0px 18px #00eaff;
  }
}
