<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="neon-theme">
  <div class="welcome-container">
    <div class="welcome-card">
      <h1 class="capitalize">¡Hola, {{ mensaje }}!</h1>
      <p class="welcome-text">Bienvenid&#64; a nuestra comunidad 🐾</p>
    </div>
  </div>
</ion-content>

